<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<title>Insert title here</title>
<link rel="stylesheet" href="style.css" />
</head>
<body>
	<div class="wrapper">
		<div class="sidebar">
			<h2>Sidebar</h2>
			<ul>
				
				<li><a href="#">Items</a>

					<ul>
						<li><a href="showItems">List all Items</a></li>

					</ul></li>
				
				<li><a href="#">Purchase Order</a>

					<ul>
						<li><a href="addPO">New PO</a></li>
						<li><a href="#">Delete PO</a></li>
						<li><a href="#">Update a PO</a></li>
						<li><a href="showPO">List all POs</a></li>

					</ul></li>
				<li><a href="#">Item Categories</a>

					<ul>
						<li><a href="showItemCat">List all Item Categories</a></li>

					</ul></li>
				<li><a href="#">Brand</a>

					<ul>
						<li><a href="showBrands">List all Brands</a></li>

					</ul></li>

			</ul>

		</div>
		<div class="main_content">
			<h1>Welcome to your Dashboard</h1>

		</div>
	</div>



</body>
</html>